
body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.42;
    color: #fff;
    background-color: #001821;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3 {
    margin: 0;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    width: 1141px;
}

.header__container {
    margin: 0 auto;
    width: 1140px;
}

.header {
    height: 55px;
    position: relative;
    margin-bottom: 141px;
}

.logo {
    display: block;
    position: absolute;
    top: 22px;
    left: 0px;
}

.menu__header {
    position: absolute;
    top: 31px;
    left: 165px;
}

.contacts__header {
    position: absolute;
    right: 0px;
    top: 19px;
    font-style: normal;
    text-align: right;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__title {
    
    font-size: 14px;
    text-decoration: none;
}

.menu__title:hover {
    color: #DA0100;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 0;
}

.contacts__workhours {
    font-size: 13px;
    text-decoration: underline;
    color: #98A4A8;
    margin-top: -7px;
}

.contacts__workhours:hover {
    color: inherit;
    cursor: pointer;
}

.contacts__desc {
    font-size: 11px;
    color: #9A9A9A;
}

.hero__container {
    position: relative;
    width: 520px;
    margin-bottom: 245px;
}

.hero__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 92px;
    margin-bottom: 30px;
}

.hero__text{
    font-size: 18px;
    margin-bottom: 27px;
}

.button {
    background-color: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    font-family: inherit;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.tours__section {
    margin-bottom: 132px;
    
}

.tours__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 45px;
}

.tour__item {
    height: 449px;
    background: #fff;
    border-radius: 4px;
    display: inline-block;
    margin-right: 23px;
    width: 362px;
}

.tour__item:last-child{
    margin-right: 0;
}

.tour__img {
    min-height: 144px;
}

.tour__content {
    padding-left: 24px;
    padding-top: 32px;
    padding-bottom: 10px;

}

.tour__offers {
    color: #666666;
    font-size: 16px;
}

.tour__text {
    color: #303030;
    font-size: 14px;
    margin-bottom: 22px;
}

.tour__title {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}

.tour__offers-cells {
    display: inline-block;
    vertical-align: top;
    width: 126px;
    margin-right: 28px;
}

.tour__offers-cells:last-child{
    margin-right: 0;
}

.tour__offers {
    margin-bottom: 25px;
   
}

.tour__days-img {
    margin-right: 10px;
}

.inline {
    display: inline-block;
    align-items: baseline;
    vertical-align: top;
}

.tour__button {
    Width: 135px;
    Height: 55px;
    color: #F5170E;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    display: block;
    padding: 0;
}

.tour__button:hover{
    color: #fff;
    background-color: #F5170E;
}

.news__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 49px;
}

.news__item {
    width: 557px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 22px;
}

.news__items {
    margin-bottom: 53px;
}

.news__item:last-child {
    margin-right: 0;
}

.news__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 63px 26px;
    min-height: 120px;
}

.news__date {
    font-size: 14px;
    margin-bottom: 13px;
}

.news__block-title {
    font-size: 24px;
    font-weight: bold;
}

.news__text {
   font-size: 16px;
}

.pager {
    text-align: center;
}

.pager__display, .pager__list {
    display: inline-block;
    vertical-align: middle;
}

.pager__display {
    margin-right: 26px;
}

.pager__item {
    display: inline-block;
    vertical-align: middle;
}

.pager__item--active .pager__link {
    background: #fff;
    color: #F5170E;
}

.pager__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.news__container {
    margin-bottom: 150px;
}

.about__section {
    margin-bottom: 50px;
}

.about:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 490px;
    height: 505px;
    background: url(./img/gates.png) center center / cover no-repeat;
}

.about__desc {
    background: url(./img/mountains.png) center center / cover no-repeat;
    display: inline-block;
    vertical-align: top;
    width: 785px;
    margin-left: -150px;
    margin-top: 20px;
    height: 455px;
    padding: 70px 202px 66px 81px;
}

.about__title {
    font-size: 26px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 37px;
}

.about__text--desc {
    color: #000000;
    margin-bottom: 42px;
}

.footer {
    position: relative;
    height: 93px;
    margin-top: 122px;
}

.socials {
    position: absolute;
    top: 27px;
    right: 254px;
}

.socials__item {
    vertical-align: top;
    display: inline-block;
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

.social__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.footer__container--content {
    border-top: 1px #FFFFFF;
}

.social__item--icon--tele .social__link {
    background-image: url(./img/telegram.png);
}

.social__item--icon--tele .social__link:hover {
    background-image: url(./img/t_hover.png);
}

.social__item--icon--vk .social__link {
    background-image: url(./img/vk.png);
}

.social__item--icon--vk .social__link:hover {
    background-image: url(./img/vk_hover.png);
}

.social__item--icon--face .social__link {
    background-image: url(./img/f.png);
}

.social__item--icon--face .social__link:hover {
    background-image: url(./img/f_hover.png);
}

.social__item--icon--inst .social__link {
    background-image: url(./img/in.png);
}

.social__item--icon--inst .social__link:hover {
    background-image: url(./img/in_hover.png);
}

.main__page-wrapper {
    background: url(./img/1.png) center top no-repeat, url(./img/2.png) right bottom 165px no-repeat;
}
