body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.42;
    color: #fff;
    background-color: #001821;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

.container {
    margin: 0 auto;
    width: 1140px;
    min-height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
}


.header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-end;
}

.logo {
    display: block;
    margin-right: 100px;
}



.contacts__header {
    font-style: normal;
    text-align: right;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__title {

    font-size: 14px;
    text-decoration: none;
}

.menu__title:hover {
    color: #DA0100;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 0;
}

.contacts__workhours {
    font-size: 13px;
    text-decoration: underline;
    color: #98A4A8;
    margin-top: -7px;
}

.contacts__workhours:hover {
    color: inherit;
    cursor: pointer;
}

.contacts__desc {
    font-size: 11px;
    color: #9A9A9A;
}

.hero__container {
    width: 48%;
    margin-bottom: 245px;
}

.main-page-title__wrapper {
    margin-bottom: 30px;
}

.hero__text {
    font-size: 18px;
    margin-bottom: 27px;
}

.button {
    background-color: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    font-family: inherit;
    color: #fff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #F5170E;
}

.tours {
    margin-bottom: 132px;

}

.tours__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 45px;
}

.tour {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.tour__item {
    background: #fff;
    border-radius: 4px;
    width: calc(100% / 3 - 18px);
}

.tour__item:last-child {
    margin-right: 0;
}

.tour__img {
    min-height: 144px;
    width: 100%;
    object-fit: cover;
    display: block;
}

.tour__content {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 32px;
    padding-bottom: 10px;

}

.tour__offers {
    color: #666666;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.tour__text {
    color: #303030;
    font-size: 14px;
    margin-bottom: 22px;
}

.tour__title {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}

.button__wrapper {
    display: flex;
}

.tour__offers-cells:last-child {
    margin-right: 0;
}

.tour__offers-cells {
    display: flex;
    justify-content: space-between;
}

.tour__food-img {
    margin-right: 10px;
}

.tour__offers {
    margin-bottom: 25px;

}

.tour__days-img {
    margin-right: 10px;
}



.tour__button {
    color: #F5170E;
    padding: 18px 38px;
    background-color: #fff;
}

.tour__button:hover {
    color: #fff;
    background-color: #F5170E;
}

.news__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 49px;
}

.news__item {
    width: 555px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.news__items {
    margin-bottom: 53px;
    display: flex;
    justify-content: space-between;
}

.news__item:last-child {
    margin-right: 0;
}

.news__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 63px 26px;
    min-height: 120px;
}

.news__date {
    font-size: 14px;
    margin-bottom: 13px;
}

.news__block-title {
    font-size: 24px;
    font-weight: bold;
}

.news__text {
    font-size: 16px;
}

.pager {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



.pager__display {
    margin-right: 26px;
}

.pager__list {
    display: flex;
    align-items: center;
}

.pager__item {
    text-align: center;
}

.pager__item--active .pager__link {
    background: #fff;
    color: #F5170E;
}

.pager__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.news__container {
    margin-bottom: 150px;
}

.about {
    margin-bottom: 50px;
    display: flex;
}

.about__container:before {
    content: "";
    width: 490px;
    height: 505px;
    background: url(./img/gates.png) center center / cover no-repeat;
    display: block;
}

.about__desc {
    background: url(./img/mountains.png) center center / cover no-repeat;
    max-width: 785px;
    padding: 70px 202px 66px 81px;
    border-radius: 5px;
    min-height: 454px;
    margin-left: 350px;
    margin-top: -320px;
}

.about__title {
    font-size: 26px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 37px;
}

.about__text--desc {
    color: #000000;
    margin-bottom: 42px;
}

.about__button {
    position: absolute;
}

.footer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align-right {
    align-items: flex-end;
    display: contents;
}

.footer__content {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
}

.socials {
    display: flex;
    justify-content: space-between;
}

.socials__item {
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

.social__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.footer__container--content {
    border-top: 1px #FFFFFF;
}

.footer__container {
    margin-top: auto;
}

.social__item--icon--tele .social__link {
    background-image: url(./img/telegram.png);
}

.social__item--icon--tele .social__link:hover {
    background-image: url(./img/t_hover.png);
}

.social__item--icon--vk .social__link {
    background-image: url(./img/vk.png);
}

.social__item--icon--vk .social__link:hover {
    background-image: url(./img/vk_hover.png);
}

.social__item--icon--face .social__link {
    background-image: url(./img/f.png);
}

.social__item--icon--face .social__link:hover {
    background-image: url(./img/f_hover.png);
}

.social__item--icon--inst .social__link {
    background-image: url(./img/in.png);
}

.social__item--icon--inst .social__link:hover {
    background-image: url(./img/in_hover.png);
}

.wrapper__img {
    background: url(./img/1.png) center top no-repeat, url(./img/2.png) right bottom 165px no-repeat;
}

/* Services Page */

.top-line {
    min-height: 415px;
    background: url(./img/headline1.png) center center / cover no-repeat;
    display: flex;
    flex-direction: column;
    padding-bottom: 23px;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-line__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.page-title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__links {
    color: #9A9A9A;
    font-size: 14px;
}

.breadcrumbs__item--active {
    font-weight: bold;
}

.breadcrumbs__item::after {
    content: "/";
    color: #9A9A9A;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.page__content {
    background: #F2F2F2;
    color: #303030;
    padding: 40px 0;
}

.service {
    display: flex;
    padding: 58px 43px;
}

.service__img {
    width: 30%;
    margin-right: 7%;
    text-decoration: none;
}

.service__content {
    flex: 1;
}

.service__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 22px;
    color: #000000;
}

.service__desc {
    line-height: 27px;
    margin-bottom: 35px;
}

.service__button {
    position: absolute;
}

.service__pager {
    padding-top: 50px;
}

.inner-section {
    background: #F4F5F5;
    padding: 90px 0;
}

.inner-section__title {
    color: #1A1B1E;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 100px;
}

.partners {
    display: flex;
    flex-wrap: wrap;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 250px;
    height: 100px;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
}

.partners__link:hover {
    filter: grayscale(0);
}

.partners__item {
    margin-left: 46px;
}

.partners__item:nth-child(4n + 1) {
    margin-left: 0;
}

.footer__services {
    height: 132px;
}

.footer__main {
    height: 93px;
    margin-top: 122px;
}

.inner-footer__container {
    padding: 45px 0;
}

.inner-footer {
    margin-top: auto;
}